body{
  margin: 0;
  padding: 0;
  background: #f8f9fa;

}

li{
    margin-left: -23px;
    margin-bottom: -10px;
}
li::marker{
    color:#706F6F;
}

/* fonts */

.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #464A4E;
  }

  .headers{
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 30px;
  }

  .to-upper{
    text-transform: uppercase;
  }
  p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;    
    color: #706F6F;
    text-align:justify;
    text-justify: inter-word;
  }

/* content */

#resume{
    width: 210mm;
    height: 297mm;
    display: block;
    margin: 30mm auto;
    background: #fff;
    padding-left: 20mm;
    padding-right: 20mm;
    padding-top: 8mm;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative;
}
.content{
    margin-left: 10%;    
}

a {
    text-decoration: none;
    color: #464A4E;
  }


  /* navbar / header */
.navbar {
    background-color: #f2f2f2;
    overflow: hidden;
    /* padding: 10px 20px; */
    margin-left: -20mm;
    margin-right: -20mm;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20mm;
    margin-right: 20mm;
  }
  .navbar-brand {
    font-size: 50px;
    letter-spacing: 5px;
  }
  .navbar-contact {
    display: block;
  }

  .navbar-contact p{
    text-align: right;
  }
  

/* Work Experience / Organizations  */
.org-header{
    display: flex;
    margin-top: -15px;
    margin-bottom: -20px;
    justify-content: space-between;
    align-items: center;    
}

.org-name{
    font-size: medium;
    letter-spacing: 1px;
}

.org-name-desig{
    display: flex;
    gap: 15px;
}

.org-tenure{
    font-style: italic;
}


/* skills */
.row{
    display: flex;
    margin-top: -20px;
    margin-bottom: -20px;    
}

.col-1{
    flex:40%;
}

.col-2{
    flex:60%
}

/* footer */

.footer {
    background-color: #f2f2f2; /* Light grey background */
    /* padding: 20px 0; */
     /* Padding around the content */
    font-family: Arial, sans-serif; /* Font style */
    margin-left: -20mm;
    margin-right: -20mm;
    position:absolute;
    bottom: 0;
    width: 100%;
  }
  .footer-content {
    display: flex; /* Aligns items in a row */
    justify-content: space-between; /* Space between the logo and contact info */
    align-items: center; /* Align items vertically */
    max-width: 1200px; /* Max width of the footer */
    margin-left: auto; /* Center the footer content */    
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 50mm;
    padding-right: 60mm;
  }
  .footer-linkedin {
    display: flex; /* Aligns logo and text in a row */
    align-items: center; /* Align items vertically */
  }
  .footer-linkedin i {
    margin-right: 10px; /* Space between logo and text */
    font-size: 18px;
    color: #464A4E;
  }
  .footer-site {
    display: flex; /* Aligns email icon and text in a row */
    align-items: center; /* Align items vertically */
}
  .footer-site span {
    margin-right: 10px; /* Space between email icon and text */
    font-size: 24px;
    color: #464A4E;
}

